{
  "openapi": "3.1.0",
  "info": {
    "title": "Urban Soft Admin API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://faisalshop.mvp-apps.ae"
    },
    {
      "url": "http://localhost:3000"
    }
  ],
  "paths": {
    "/api/v2/admin/login": {
      "post": {
        "summary": "Admin login",
        "operationId": "adminLogin",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email",
                    "example": "faisal@b-seenapp.com"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "example": "••••••••"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Auth success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                },
                "examples": {
                  "success": {
                    "value": {
                      "token": "322|gA24v1gzIJme72431KwUqyvPRotoRrIpMNAy3mXhe513ff48",
                      "user": {
                        "id": 17,
                        "tenant_id": null,
                        "name": "Faisal KC",
                        "email": "faisal@b-seenapp.com",
                        "phone": null,
                        "country_code": null,
                        "email_verified_at": null,
                        "phone_verified_at": null,
                        "user_type": "CONSUMER",
                        "photo_url": null,
                        "theme": "system",
                        "language": "en",
                        "timezone": null,
                        "email_marketing": "0",
                        "email_system": "1",
                        "push_system": "1",
                        "is_active": "1",
                        "created_at": "2025-09-17T10:16:45.000000Z",
                        "updated_at": "2025-09-17T10:16:45.000000Z"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "invalid": {
                    "value": {
                      "error": "Sorry!, You have entered a wrong email or password"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "Too many attempts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/admin/products": {
      "get": {
        "summary": "Get products list",
        "operationId": "getProducts",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "example": "Bearer {token}"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of products",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "price": {
                            "type": "number",
                            "format": "float"
                          },
                          "stock": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer"
                        },
                        "per_page": {
                          "type": "integer"
                        },
                        "total_pages": {
                          "type": "integer"
                        },
                        "total_items": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                },
                "examples": {
                  "productsList": {
                    "value": {
                      "data": [
                        {
                          "id": 1,
                          "name": "Product 1",
                          "price": 19.99,
                          "stock": 100
                        },
                        {
                          "id": 2,
                          "name": "Product 2",
                          "price": 29.99,
                          "stock": 50
                        }
                      ],
                      "meta": {
                        "current_page": 1,
                        "per_page": 10,
                        "total_pages": 5,
                        "total_items": 50
                      },
                      "links": {
                        "first": "https://faisalshop.mvp-apps.ae/api/v2/admin/products?page=1",
                        "last": "https://faisalshop.mvp-apps.ae/api/v2/admin/products?page=5",
                        "prev": null,
                        "next": "https://faisalshop.mvp-apps.ae/api/v2/admin/products?page=2"
                      },
                      "status": "success"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "tenant_id": {
            "type": [
              "integer",
              "null"
            ]
          },
          "name": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": [
              "string",
              "null"
            ]
          },
          "country_code": {
            "type": [
              "string",
              "null"
            ]
          },
          "email_verified_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "phone_verified_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "user_type": {
            "type": "string",
            "example": "CONSUMER"
          },
          "photo_url": {
            "type": [
              "string",
              "null"
            ],
            "format": "uri"
          },
          "theme": {
            "type": "string",
            "example": "system"
          },
          "language": {
            "type": "string",
            "example": "en"
          },
          "timezone": {
            "type": [
              "string",
              "null"
            ]
          },
          "email_marketing": {
            "type": "string",
            "example": "0"
          },
          "email_system": {
            "type": "string",
            "example": "1"
          },
          "push_system": {
            "type": "string",
            "example": "1"
          },
          "is_active": {
            "type": "string",
            "example": "1"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AuthResponse": {
        "type": "object",
        "required": [
          "token",
          "user"
        ],
        "properties": {
          "token": {
            "type": "string",
            "description": "Bearer token"
          },
          "user": {
            "$ref": "#/components/schemas/User"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string"
          }
        }
      },
      "ValidationError": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string"
          },
          "errors": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  }
}