{
    "openapi": "3.1.0",
    "info": {
        "title": "Urban Things API",
        "description": "Multi-tenant e-commerce platform API",
        "version": "2.0.0",
        "contact": {
            "email": "info@faisalkc.com"
        }
    },
    "servers": [
        {
            "url": "https://faisalshop.mvp-apps.ae",
            "description": "Production server"
        },
        {
            "url": "http://localhost:3000",
            "description": "Development server"
        }
    ],
    "security": [
        {
            "bearerAuth": []
        }
    ],
    "paths": {
        "/api/v2/admin/register": {
            "post": {
                "summary": "Register new account",
                "tags": [
                    "Authentication"
                ],
                "security": [],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "name",
                                    "email",
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "John Doe"
                                    },
                                    "email": {
                                        "type": "string",
                                        "format": "email",
                                        "example": "john@example.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "format": "password",
                                        "minLength": 8
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "format": "password"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Account created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AuthResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/admin/who_am_i": {
            "get": {
                "summary": "Get current user info",
                "tags": [
                    "Authentication"
                ],
                "responses": {
                    "200": {
                        "description": "User information with tenants",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "user": {
                                            "$ref": "#/components/schemas/User"
                                        },
                                        "tenants": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/TenantMembership"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/admin/logout": {
            "post": {
                "summary": "Logout current session",
                "tags": [
                    "Authentication"
                ],
                "responses": {
                    "200": {
                        "description": "Logged out successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Logged out successfully"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/admin/tenants": {
            "get": {
                "summary": "List user's tenants",
                "tags": [
                    "Tenants"
                ],
                "responses": {
                    "200": {
                        "description": "List of tenants",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "tenants": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Tenant"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Create new tenant",
                "tags": [
                    "Tenants"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "My Store"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Tenant created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tenant"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/admin/tenants/{id}": {
            "get": {
                "summary": "Get tenant details",
                "tags": [
                    "Tenants"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/TenantIdPath"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tenant details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Tenant"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Update tenant",
                "tags": [
                    "Tenants"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/TenantIdPath"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Tenant updated"
                    }
                }
            },
            "delete": {
                "summary": "Delete tenant",
                "tags": [
                    "Tenants"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/TenantIdPath"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Tenant deleted"
                    }
                }
            }
        },
        "/api/v2/admin/team-members/{tenantId}": {
            "get": {
                "summary": "List team members",
                "tags": [
                    "Team Members"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/TenantIdPath"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of team members",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "team_members": {
                                            "type": "object",
                                            "properties": {
                                                "current_page": {
                                                    "type": "integer"
                                                },
                                                "data": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/TeamMember"
                                                    }
                                                },
                                                "per_page": {
                                                    "type": "integer"
                                                },
                                                "total": {
                                                    "type": "integer"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Add team member",
                "tags": [
                    "Team Members"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/TenantIdPath"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "email",
                                    "role"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "format": "email"
                                    },
                                    "role": {
                                        "type": "string",
                                        "enum": [
                                            "ADMIN",
                                            "MEMBER"
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Member added",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/admin/team-members/{tenantId}/{userId}": {
            "post": {
                "summary": "Update team member role",
                "tags": [
                    "Team Members"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/TenantIdPath"
                    },
                    {
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "role"
                                ],
                                "properties": {
                                    "role": {
                                        "type": "string",
                                        "enum": [
                                            "ADMIN",
                                            "MEMBER"
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Role updated"
                    }
                }
            },
            "delete": {
                "summary": "Remove team member",
                "tags": [
                    "Team Members"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/TenantIdPath"
                    },
                    {
                        "name": "userId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Member removed"
                    }
                }
            }
        },
        "/api/v2/admin/products": {
            "get": {
                "summary": "List products",
                "tags": [
                    "Products"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/TenantIdHeader"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 15
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of products",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProductList"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Create product",
                "tags": [
                    "Products"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/TenantIdHeader"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProductInput"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Product created"
                    }
                }
            }
        },
        "/api/v2/admin/products/{id}": {
            "get": {
                "summary": "Get product details",
                "tags": [
                    "Products"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/TenantIdHeader"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Product details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Product"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Update product",
                "tags": [
                    "Products"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/TenantIdHeader"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProductInput"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Product updated"
                    }
                }
            },
            "delete": {
                "summary": "Delete product",
                "tags": [
                    "Products"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/TenantIdHeader"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Product deleted"
                    }
                }
            }
        },
        "/api/v2/admin/category": {
            "get": {
                "summary": "List categories",
                "tags": [
                    "Categories"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/TenantIdHeader"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of categories"
                    }
                }
            }
        },
        "/api/v2/admin/category/create": {
            "post": {
                "summary": "Create category",
                "tags": [
                    "Categories"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/TenantIdHeader"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string"
                                    },
                                    "description": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Category created"
                    }
                }
            }
        },
        "/api/v2/admin/category/{id}": {
            "patch": {
                "summary": "Toggle category publish status",
                "tags": [
                    "Categories"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/TenantIdHeader"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Status toggled"
                    }
                }
            },
            "delete": {
                "summary": "Delete category",
                "tags": [
                    "Categories"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/TenantIdHeader"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Category deleted"
                    }
                }
            }
        },
        "/api/v2/admin/webhooks/{tenantId}": {
            "get": {
                "summary": "List webhooks",
                "tags": [
                    "Webhooks"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/TenantIdPath"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of webhooks"
                    }
                }
            },
            "post": {
                "summary": "Create webhook",
                "tags": [
                    "Webhooks"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/TenantIdPath"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "required": [
                                    "url",
                                    "events"
                                ],
                                "properties": {
                                    "url": {
                                        "type": "string",
                                        "format": "uri"
                                    },
                                    "events": {
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Webhook created"
                    }
                }
            },
            "delete": {
                "summary": "Delete webhook",
                "tags": [
                    "Webhooks"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/TenantIdPath"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Webhook deleted"
                    }
                }
            }
        }
    },
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer",
                "bearerFormat": "JWT"
            }
        },
        "parameters": {
            "TenantIdHeader": {
                "name": "X-Tenant-ID",
                "in": "header",
                "required": true,
                "schema": {
                    "type": "string"
                },
                "description": "Tenant ID for multi-tenancy"
            },
            "TenantIdPath": {
                "name": "tenantId",
                "in": "path",
                "required": true,
                "schema": {
                    "type": "integer"
                },
                "description": "Tenant ID"
            }
        },
        "schemas": {
            "User": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "name": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string",
                        "format": "email"
                    },
                    "user_type": {
                        "type": "string"
                    },
                    "is_active": {
                        "type": "string"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "AuthResponse": {
                "type": "object",
                "properties": {
                    "token": {
                        "type": "string"
                    },
                    "user": {
                        "$ref": "#/components/schemas/User"
                    }
                }
            },
            "Tenant": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "name": {
                        "type": "string"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "TenantMembership": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "name": {
                        "type": "string"
                    },
                    "role": {
                        "type": "string",
                        "enum": [
                            "ADMIN",
                            "MEMBER"
                        ]
                    },
                    "is_active": {
                        "type": "boolean"
                    }
                }
            },
            "TeamMember": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "name": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string",
                        "format": "email"
                    },
                    "role": {
                        "type": "string",
                        "enum": [
                            "ADMIN",
                            "MEMBER"
                        ]
                    },
                    "is_active": {
                        "type": "integer"
                    },
                    "last_active_at": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "Product": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "name": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "price": {
                        "type": "number",
                        "format": "float"
                    },
                    "stock": {
                        "type": "integer"
                    },
                    "category_id": {
                        "type": "integer"
                    }
                }
            },
            "ProductInput": {
                "type": "object",
                "required": [
                    "name",
                    "price"
                ],
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "description": {
                        "type": "string"
                    },
                    "price": {
                        "type": "number",
                        "format": "float"
                    },
                    "stock": {
                        "type": "integer"
                    },
                    "category_id": {
                        "type": "integer"
                    }
                }
            },
            "ProductList": {
                "type": "object",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Product"
                        }
                    },
                    "current_page": {
                        "type": "integer"
                    },
                    "per_page": {
                        "type": "integer"
                    },
                    "total": {
                        "type": "integer"
                    }
                }
            },
            "ValidationError": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string"
                    },
                    "errors": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                }
            },
            "ErrorResponse": {
                "type": "object",
                "properties": {
                    "error": {
                        "type": "string"
                    }
                }
            }
        }
    }
}